@{  WebImage photo = null;
    var newFileName = "";
    var imagePath = "";

    if(IsPost){
        photo = WebImage.GetImageFromRequest();
        if(photo != null){
            newFileName = Guid.NewGuid().ToString() + "_" +
                Path.GetFileName(photo.FileName);
            imagePath = @"images/" + newFileName;

            photo.Save(@"~/" + imagePath);
        }
    }
}
<!DOCTYPE html>
<html>
<head>
  <title>Image Upload</title>
		<style type="text/css">
body {
	background: #222;
	color: #eee;
	margin-top: 20px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
a {
	color: #FFF;
}
a:hover {
	color: yellow;
	text-decoration: underline;
}
.buttons btn {
	height: 10px;
	width: 40px;
	border: 4px solid #555;
	padding: 1px;
	margin: 0 10px 10px 0;
}

.buttons btn:hover {
	border: 4px solid #00ccff;
	cursor:pointer;
}

.preview img {
	border: 4px solid #444;
	padding: 1px;
	width: 800px;
}
</style>
</head>
<body>
<div class="gallery" align="center">
  <form action="" method="post" enctype="multipart/form-data">
    <fieldset>
      <legend> Upload Image </legend>
      <label for="Image">Image</label>
      <input type="file" name="Image" />
      <br/>
      <input type="submit" value="Upload" />
    </fieldset>
  </form>
  <h1>Uploaded Image</h1>
    @if(imagePath != ""){
    <div class="preview" align="center">
        <img id="image1" src="@imagePath" alt="image" />
    </div>
    }
	<div class="preview" align="center">
        <img id="image2" src="" alt="image2" />
    </div>
		
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script>
    function sepiaImage(item) {
        var url = "/Home/SepiaImage";
        $.post(url, { Name: item }, function (data) {
			document.getElementById("image2").src = data;
        });
    }
	function negativeImage(item) {
        var url = "/Home/NegativeImage";
        $.post(url, { Name: item }, function (data) {
			document.getElementById("image2").src = data;
        });
    }
	function transparImage(item) {
        var url = "/Home/TransparImage";
        $.post(url, { Name: item }, function (data) {
			document.getElementById("image2").src = data;
        });
    }
	function grayscaleImage(item) {
        var url = "/Home/GrayscaleImage";
        $.post(url, { Name: item }, function (data) {
			document.getElementById("image2").src = data;
        });
    }
	</script>
	<div class="buttons" align="center"> 
		<input type="button" value="Apply sepia" onclick="sepiaImage('@imagePath');" />
		<input type="button" value="Apply negative" onclick="negativeImage('@imagePath');" />
		<input type="button" value="Apply transparency" onclick="transparImage('@imagePath');" />
		<input type="button" value="Apply grayscale" onclick="grayscaleImage('@imagePath');" />
	</div>

</div>
</body>
</html>