@{  WebImage photo = null;
    var newFileName = "";
    var imagePath = "";

    if(IsPost){
        photo = WebImage.GetImageFromRequest();
        if(photo != null){
            newFileName = Guid.NewGuid().ToString() + "_" +
                Path.GetFileName(photo.FileName);
            imagePath = @"images/" + newFileName;

            photo.Save(@"~/" + imagePath);
        }
    }
}
<!DOCTYPE html>
<html>
<head>
  <title>Image Upload</title>
</head>
<body>
  <form action="" method="post" enctype="multipart/form-data">
    <fieldset>
      <legend> Upload Image </legend>
      <label for="Image">Image</label>
      <input type="file" name="Image" />
      <br/>
      <input type="submit" value="Upload" />
    </fieldset>
  </form>
  <h1>Uploaded Image</h1>
    @if(imagePath != ""){
    <div class="source">
        <img id="image1" src="@imagePath" alt="image" />
    </div>
    }
	<div class="filtered">
        <img id="image2" src="" alt="image2" />
    </div>
		
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script>
    function sepiaImage(item) {
        var url = "/Home/SepiaImage";
        $.post(url, { Name: item }, function (data) {
<!--			document.getElementById("button1").value = data;-->
			document.getElementById("image2").src = data;
<!--            window.location.href = "/Home/Index";-->
        });
    }
	</script>
	<div> <input type="button" id="button1" value="Apply sepia" onclick="sepiaImage('@imagePath');" /></div>


</body>
</html>